<button
  {{action action.onclick}}
  disabled={{isDisabled}}
  class=":component
         {{classes.size}}
         {{classes.class}}
         {{ui-state states 'active' 'focus' 'disabled' 'loading'}}
         {{if group 'group-button'}}
         {{if group.isFirstChild 'first-child'}}
         {{if group.isLastChild 'last-child'}}"
  id="{{id}}">
  <div class="wrapper
             {{if states.active 'wrapper--active'}}">
    <div class="label
               {{if states.loading 'label--loading'}}
               {{if states.active 'label--active'}}">
      {{yield}}
    </div>
  </div>
</button>
