<div class="ui-button--default__button
            {{if active 'ui-button--default__button--active'}}
            {{if focus 'ui-button--default__button--focus'}}
            {{if disabled 'ui-button--default__button--disabled'}}
            {{if loading 'ui-button--default__button--loading'}}">
  <div class="ui-button--default__wrapper {{if active 'ui-button--default__wrapper--active'}}">
    <div class="ui-button--default__label {{if loading 'ui-button--default__label--loading'}} {{if active 'ui-button--default__label--active'}}">
      {{yield}}
    </div>
  </div>
</div>
