<button
  {{action action.onclick}}
  disabled={{isDisabled}}
  class="{{classes.parent}}
         {{classes.size}}
         ui-button--default
         {{if states.active 'ui-button--default--active'}}
         {{if states.focus 'ui-button--default--focus'}}
         {{if states.disabled 'ui-button--default--disabled'}}
         {{if states.loading 'ui-button--default--loading'}}">
  <div class="ui-button--default__wrapper
             {{if states.active 'ui-button--default__wrapper--active'}}">
    <div class="ui-button--default__label
               {{if states.loading 'ui-button--default__label--loading'}}
               {{if states.active 'ui-button--default__label--active'}}">
      {{yield}}
    </div>
  </div>
</button>
