<button
  {{action action.onclick}}
  disabled={{isDisabled}}
  class="{{classes.parent}}
         {{classes.size}}
         ui-button--simple
         {{if states.active 'ui-button--simple--active'}}
         {{if states.focus 'ui-button--simple--focus'}}
         {{if states.disabled 'ui-button--simple--disabled'}}
         {{if states.loading 'ui-button--simple--loading'}}">
    {{yield}}
</button>
