<div class="ui-button--simple
            {{if active 'ui-button--simple--active'}}
            {{if focus 'ui-button--simple--focus'}}
            {{if disabled 'ui-button--simple--disabled'}}
            {{if loading 'ui-button--simple--loading'}}">
  {{yield}}
</div>
