{{#ui-ripple as |ripple|}}
  <button
    {{action action.onclick}}
    disabled={{isDisabled}}
    class=":component
           {{classes.size}}
           {{ui-state states 'active' 'focus' 'disabled' 'loading'}}">
      <div class="label">
        {{yield}}
      </div>
      {{ripple.animation}}
  </button>
{{/ui-ripple}}
