<label class=":component
              {{classes.size}}
              {{classes.class}}
              {{unless states.disabled 'enabled'}}
              {{ui-state states 'disabled' 'checked' 'error'}}">
  {{input
    class="ui-checkbox--default--input"
    type="checkbox"
    checked=value
    disabled=states.disabled}}

  <div class="component">
    <div class="component--wrapper">
      <div class="component--icon"></div>
    </div>
  </div>

  {{yield}}
</label>
