<div class=":component
            {{classes.class}}
            {{classes.size}}">
  <div class="wrapper">
    <div class="message">
      {{yield}}
    </div>

    {{#if action.close}}
      <div class="close" {{action action.close}}>
        {{ui-icon icon="close" class="ui-message--default--close--icon"}}
      </div>
    {{/if}}
  </div>
</div>
