<div class=":component
            {{if sortedWhen 'sortable'}}
            {{if (eq sortBy sortedWhen) 'sorted'}}"
     style="flex: {{flex}};"
     {{action action.sortBy sortedWhen}}>
  {{yield}}
</div>
