<div class=":component
            {{if sortedWhen 'sortable'}}
            {{if (eq sortBy sortedWhen) 'sorted'}}"
     style="flex: {{size.flex}}; min-width: {{size.min}}; max-width: {{size.max}}"
     {{action action.sortBy sortedWhen}}>
  {{yield}}
</div>
