<h1>Field</h1>

<h2>Basic</h2>

{{#ui-field label="Small" size="small" as |f|}}
  {{f.input value=address placeholder="Type something..."}}
{{/ui-field}}

<br />

{{#ui-field label="Medium" as |f|}}
  {{f.input value=address placeholder="Type something..."}}
{{/ui-field}}

<br />

{{#ui-field label="Large" size="large" as |f|}}
  {{f.input value=address placeholder="Type something..."}}
{{/ui-field}}

<h2>Disabled</h2>

{{#ui-field label="Label goes here:" as |f|}}
  {{f.input value=address placeholder="Type something..." disabled=true}}
{{/ui-field}}

<h2>Error</h2>

{{#ui-field label="Label goes here:" as |f|}}
  {{f.input value=address placeholder="Type something..." error=true errorMessage="FML"}}
{{/ui-field}}


<h1>Checkbox</h1>

{{#ui-field size="small" type="ui-checkbox" as |f|}}
  {{#f.input}}
    Small
  {{/f.input}}
{{/ui-field}}

<br />

{{#ui-field size="medium" type="ui-checkbox" as |f|}}
  {{#f.input}}
    Medium
  {{/f.input}}
{{/ui-field}}

<br />

{{#ui-field size="large" type="ui-checkbox" as |f|}}
  {{#f.input}}
    Large
  {{/f.input}}
{{/ui-field}}

<h2>Disabled</h2>

{{#ui-field size="small" type="ui-checkbox" as |f|}}
  {{#f.input disabled=true}}
    False
  {{/f.input}}
{{/ui-field}}

<br />

{{#ui-field size="small" type="ui-checkbox" as |f|}}
  {{#f.input disabled=true value=true}}
    True
  {{/f.input}}
{{/ui-field}}

<h2>Error</h2>

{{#ui-field size="small" type="ui-checkbox" as |f|}}
  {{#f.input error=true}}
    In error state
  {{/f.input}}
{{/ui-field}}


<h1>Buttons</h1>

<h2>Sizes</h2>

{{#ui-button kind="default" size="x-small"}}
  X-Small
{{/ui-button}}

{{#ui-button kind="primary" size="x-small"}}
  X-Small
{{/ui-button}}

{{#ui-button kind="default" size="small"}}
  Small
{{/ui-button}}

{{#ui-button kind="primary" size="small"}}
  Small
{{/ui-button}}

{{#ui-button}}
  Medium
{{/ui-button}}

{{#ui-button kind="primary"}}
  Medium
{{/ui-button}}

{{#ui-button kind="default" size="large"}}
  Large
{{/ui-button}}

{{#ui-button kind="primary" size="large"}}
  Large
{{/ui-button}}

{{#ui-button kind="default" size="x-large"}}
  X-Large
{{/ui-button}}

{{#ui-button kind="primary" size="x-large"}}
  X-Large
{{/ui-button}}

<h2>Disabled</h2>

{{#ui-button disabled=true}}
  hello world
{{/ui-button}}

{{#ui-button kind="primary" disabled=true}}
  hello world
{{/ui-button}}

<h2>Loading</h2>

{{#ui-button loading=true}}
  hello world
{{/ui-button}}

<h1>Select</h1>

{{#ui-select value=selectedValue as |x|}}
  {{#x.option value=1}}1{{/x.option}}
  {{#x.option value=2}}2{{/x.option}}
  {{#x.option value=3}}3{{/x.option}}
{{/ui-select}}

selected: {{selectedValue}}

<h1>Modal</h1>

<label>{{input type="checkbox" checked=showingModal}} Show modal</label>

{{#if showingModal}}
  {{#ui-modal onclose=(action (toggle "showingModal" this)) as |modal|}}
    stuff inside modal

    <br />
    <br />
    {{#ui-button kind="primary" onclick=modal.close}}
      Close
    {{/ui-button}}
    <br />
    <br />
  {{/ui-modal}}
{{/if}}
