<h1>Field</h1>

{{#ui-panel as |panel|}}
  {{#panel.titlebar}}
    Input
  {{/panel.titlebar}}

  {{#panel.content}}
    {{#ui-field label="Small" size="small" as |f|}}
      {{f.input value=address placeholder="Type something..."}}
    {{/ui-field}}

    <br />

    {{#ui-field label="Medium" as |f|}}
      {{f.input value=address placeholder="Type something..."}}
    {{/ui-field}}

    <br />

    {{#ui-field label="Large" size="large" as |f|}}
      {{f.input value=address placeholder="Type something..."}}
    {{/ui-field}}

    <h2>Disabled</h2>

    {{#ui-field label="Label goes here:" as |f|}}
      {{f.input value=address placeholder="Type something..." disabled=true}}
    {{/ui-field}}

    <h2>Error</h2>

    {{#ui-field label="Label goes here:" as |f|}}
      {{f.input value=address placeholder="Type something..." error=true errorMessage="FML"}}
    {{/ui-field}}
  {{/panel.content}}
{{/ui-panel}}

{{#ui-panel as |panel|}}
  {{#panel.titlebar}}
    Checkbox
  {{/panel.titlebar}}

  {{#panel.content}}
    {{#ui-field size="small" type="ui-checkbox" as |f|}}
      {{#f.input}}
        Small
      {{/f.input}}
    {{/ui-field}}

    <br />

    {{#ui-field size="medium" type="ui-checkbox" as |f|}}
      {{#f.input}}
        Medium
      {{/f.input}}
    {{/ui-field}}

    <br />

    {{#ui-field size="large" type="ui-checkbox" as |f|}}
      {{#f.input}}
        Large
      {{/f.input}}
    {{/ui-field}}

    <h2>Disabled</h2>

    {{#ui-field size="small" type="ui-checkbox" as |f|}}
      {{#f.input disabled=true}}
        False
      {{/f.input}}
    {{/ui-field}}

    <br />

    {{#ui-field size="small" type="ui-checkbox" as |f|}}
      {{#f.input disabled=true value=true}}
        True
      {{/f.input}}
    {{/ui-field}}

    <h2>Error</h2>

    {{#ui-field size="small" type="ui-checkbox" as |f|}}
      {{#f.input error=true}}
        In error state
      {{/f.input}}
    {{/ui-field}}
  {{/panel.content}}
{{/ui-panel}}

{{#ui-panel as |panel|}}
  {{#panel.titlebar}}
    Buttons
  {{/panel.titlebar}}

  {{#panel.content}}
    <h2>Sizes</h2>

    {{#ui-button size="x-small"}}
      X-Small
    {{/ui-button}}

    {{#ui-button frame=(component "ui-button--primary") size="x-small"}}
      X-Small
    {{/ui-button}}

    {{#ui-button size="small"}}
      Small
    {{/ui-button}}

    {{#ui-button frame=(component "ui-button--primary") size="small"}}
      Small
    {{/ui-button}}

    {{#ui-button}}
      Medium
    {{/ui-button}}

    {{#ui-button frame=(component "ui-button--primary")}}
      Medium
    {{/ui-button}}

    {{#ui-button size="large"}}
      Large
    {{/ui-button}}

    {{#ui-button frame=(component "ui-button--primary") size="large"}}
      Large
    {{/ui-button}}

    {{#ui-button size="x-large"}}
      X-Large
    {{/ui-button}}

    {{#ui-button frame=(component "ui-button--primary")size="x-large"}}
      X-Large
    {{/ui-button}}

    <h2>Disabled</h2>

    {{#ui-button disabled=true}}
      hello world
    {{/ui-button}}

    {{#ui-button frame=(component "ui-button--primary") disabled=true}}
      hello world
    {{/ui-button}}

    <h2>Loading</h2>

    {{#ui-button loading=true}}
      hello world
    {{/ui-button}}
  {{/panel.content}}
{{/ui-panel}}

{{#ui-panel as |panel|}}
  {{#panel.titlebar}}
    Select
  {{/panel.titlebar}}

  {{#panel.content}}
    {{#ui-select value=selectedValue as |x|}}
      {{#x.option value=1}}1{{/x.option}}
      {{#x.option value=2}}2{{/x.option}}
      {{#x.option value=3}}3{{/x.option}}
    {{/ui-select}}

    selected: {{selectedValue}}
  {{/panel.content}}
{{/ui-panel}}

{{#ui-panel as |panel|}}
  {{#panel.titlebar}}
    Modal
  {{/panel.titlebar}}

  {{#panel.content}}
    {{link-to "View Modal" "modal"}}
  {{/panel.content}}
{{/ui-panel}}

{{#ui-panel as |panel|}}
  {{#panel.titlebar}}
    Panel Titlebar
  {{/panel.titlebar}}

  {{#panel.content}}
    content
  {{/panel.content}}
{{/ui-panel}}

{{outlet}}
