<h1>Table</h1>

{{#ui-panel as |panel|}}
  {{#panel.content}}

    {{#ui-table data=data as |t|}}
      {{#t.layout name="default"}}
        {{#t.column flex=1 as |row|}}
          {{row.data.id}}
        {{/t.column}}

        {{#t.column flex=4 name="Name" as |row|}}
          {{row.data.name}}
        {{/t.column}}

        {{#t.column name="Email" flex=6 as |row|}}
          {{row.data.email}}
        {{/t.column}}
      {{/t.layout}}

      {{#t.layout name="mobile"}}
        {{#t.column name="Name" flex=1 as |row|}}
          {{row.data.id}}: {{row.data.name}}
        {{/t.column}}

        {{#t.column name="Email" flex=2 as |row|}}
          {{row.data.email}}
        {{/t.column}}
      {{/t.layout}}
    {{/ui-table}}
    
  {{/panel.content}}
{{/ui-panel}}
