<h1>Table</h1>

{{#ui-panel as |panel|}}
  {{#panel.content}}

    {{#ui-table sortBy=sortBy data=data as |t|}}
      {{#t.layout breakpoint="all"}}
        {{#t.column size=(hash max="80px" min="80px") as |row|}}
          {{row.data.id}}
        {{/t.column}}

        {{#t.column size=(hash flex=4) name="Name" sortedWhen="name" as |row|}}
          {{row.data.name}}
        {{/t.column}}

        {{#t.column name="Email" sortedWhen="email" size=(hash flex=6) as |row|}}
          {{row.data.email}}
        {{/t.column}}
      {{/t.layout}}

      {{#t.layout breakpoint="500"}}
        {{#t.column size=(hash flex=3) as |row|}}
          {{row.data.name}}<br />
          {{row.data.email}}
        {{/t.column}}

        {{#t.column size=(hash flex=1) as |row|}}
          <div style="text-align: right; opacity: 0.4;">
            {{row.data.id}}
          </div>
        {{/t.column}}
      {{/t.layout}}
    {{/ui-table}}

  {{/panel.content}}
{{/ui-panel}}
